@import '../../assets/sass/color.scss';
@import '../../assets/sass/mixin.scss';


.react-tabs__tab-list{
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}
.react-tabs__tab{
    &:focus-visible{
        outline: none;
        border: none;
    }
}
.order_card{
    padding-top: 100px !important;

    @media ($breckpoint_LG) {
        padding-top: 30px !important;
    }
    .react-tabs__tab--selected{
        color: $primary-color;
        border-bottom: 2px solid $primary-color;
        
    }
}

.all_order_box {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-auto-rows: 1fr;
    gap: 1rem;

    @include media-xl {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    @include media-md {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .nany_orders {
        background-color: white;
        border: none;
        box-shadow: 0px 0px 12px -8px rgba(0,0,0,0.75);
        padding: 13px;

        img {
            width: 80px;
            height: 80px;
            object-fit: cover;
            margin-right: 10px;
        }
        .card-title{
            display: flex;
            justify-content: space-between;
            
        }
        .card-img{
            margin-right: 10px;
        }

        .nanny-info {
            .location {
                color: $nany-book-color
            }

            .time {
                color: $nany-book-color
            }
        }
    }

    .ordered_persons {
        border-top: 2px solid $primary-color;

        img {
            width: 35px;
            height: 35px;
            object-fit: cover;
            margin-right: 10px;
        }

        .nanny-small-info {
            font-weight: 500;

            h4 {
                font-weight: 500;
                font-size: 14px;
            }

            .star {
                color: $dark-color;

                i {
                    color: $star-color;
                }
            }
        }

        .btn-ongiing {
            background-color: rgba($primary-color, .1);
            color: $primary-color;
            font-size: 12px;
            font-weight: 500;
            border: 1px solid rgba($primary-color, .1);
            padding: 4px;
            border-radius: 6px;
        }

        .btn-success-nany {
            background-color: rgba($success-color, .1);
            color: $success-color;
            font-size: 12px;
            font-weight: 500;
            border: 1px solid rgba($success-color, .1);
            padding: 4px;
            border-radius: 6px;
        }

        .btn-cancel-nany {
            background-color: rgba($danger-color, .1);
            color: $danger-color;
            font-size: 12px;
            font-weight: 500;
            border: 1px solid rgba($danger-color, .1);
            padding: 4px;
            border-radius: 6px;
        }
    }

    .upcoming_option {
        border-top: 2px solid $primary-color;

        a {
            color: $green-color;
            font-weight: 500;
        }

        img {
            width: 20px;
            height: 100%;
        }
    }
}