@import '../../scss/color.scss';
@import '../../scss/fonts.scss';

.custom-logo {
    max-width: 160px;
}

.custom-nav {
    .nav-link {
        color: $dark-color;

        &.active {
            color: $light-color;
        }
    }
}